__pycache__/
*.pyc
.DS_Store
results/all_tests.csv
results/*.log
results/all_tests_*_sharedlines.csv.gz
results/all_tests_onepatient.csv.gz
results/all_tests_noKY.csv.gz
results/part3_summary_tcga_only.json
